// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";
// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';
// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/accordion';
// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)

.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.column-three-quarters {
  @include grid-column(3 / 4);
}




table th { font-weight: 700 }

hr {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mr-10 {
  margin-right: 10px;
}






.admin-submenu ul {
  border-bottom: 1px solid $grey-2;
  margin-bottom: 30px;
}

.admin-submenu li {
  display: inline-block;
  padding: 15px 20px 10px;
  border: 1px solid $grey-2;
  background: $grey-3;

  a {
    font-weight: 700;
    color: $link-colour;
  }
}

// .admin-submenu li:first-child {
//   padding-left: 0;
// }

.admin-submenu li.active {
  // -webkit-box-shadow: inset 0 -6px 0 0 $govuk-blue;
  // -moz-box-shadow: inset 0 -6px 0 0 $govuk-blue;
  // box-shadow: inset 0 -6px 0 0 $govuk-blue;

  display: inline-block;
  padding: 15px 20px;
  border: 1px solid $grey-2;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
  background: white;

  a {
    color: $text-colour;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
  }
}

.admin-submenu a {
  // font-size: 16px;
}

.admin-pane {
  margin-bottom: 30px;
}







.form-control-100 {
  width: 100%;
}






.button-secondary {
  @include button($grey-3);
}
.button-delete {
  @include button($error-colour);
}
.button-link {
  display: inline-block;
  padding: .526315em .789473em .263157em;
}






.preview {
  border: 1px solid $border-colour;
  padding: 15px;

  ul {
    @extend .list;
    @extend .list-bullet;
  }

  ol {
    @extend .list;
    @extend .list-number;
  }
}

.inline-definition-list {
  overflow: hidden;
  margin-bottom: 5px;
}

.inline-definition-list dt {
  margin-bottom: 5px;
}

.inline-definition-list dd {
  margin-bottom: 10px;
}
@media (min-width: 769px) {
  .inline-definition-list dt {
    float: left;
    display: inline-block;
    clear: both;
    width: 25%;
  }

  .inline-definition-list dd {
    float: left;
    display: inline-block;
    padding-left: 2%;
    width: 55%;
    margin-bottom: 5px;
  }
}

.green {
  color: #00643D;
}

.grey {
  color: $grey-1;
}






.nav-horizontal {
  background-color: $grey-3;
  overflow: hidden;
}

.nav-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

// .nav-inner {
//   max-width: 960px;
//   font-size: 16px;
//   line-height: 22px;
//   margin: 0 auto;
// }

.nav-pri {
  width: 500px;
  float: left;
  margin: 0;
}

.nav-pri li {
  float: left;
  margin: 0;
}

.nav-pri li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: $text-colour;
  margin-right: none;
  margin-left: 0;
}

.nav-pri li a:hover {
  background-color: $highlight-colour;
}

.nav-pri li.active a,
.nav-pri li.active a:hover {
  background-color: $govuk-blue;
  font-weight: bold;
  color: #fff;
}






#global-header.with-proposition .header-wrapper .header-proposition {
    width: 100%;
    float: left;
}

#proposition-links {
  float: right;
}


.preview-open {
  // margin-top: 60px;

  // extend some classes to make the preview look more realistic
  h3 {
    @extend .lede;
  }
  ul {
    @extend .list;
    @extend .list-bullet;
  }
}
.multiple-choice label p {
  // the markdown formatter is adding in a p to the label, remove margin to hide
  margin: 0;
}
.previewback {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $turquoise;
  color: white;
  padding: 15px 0;
  font-size: 125%;

  a, a:hover, a:visited {
    color: white;
    font-weight: bold;
  }
}
.preview_container {
  max-width: 960px;
  margin: 0 auto;
}



.govuk-box-highlight {
  padding: 30px;
}





.alert-success {
  border-color: $turquoise;
  background-color: mix(white, $turquoise, 90%);
  margin-top: 30px
}





ul.todo .heading {
  font-weight: bold;
}

ul.todo li a,
ul.todo li.dependencies {
  margin: 10px 0;
  padding: 20px 15px;
  border-left: 5px solid $black;
  border-bottom: 1px solid $border-colour;
  border-top: 1px solid $white;
  border-right: 1px solid $white;
  background-color: $highlight-colour;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
}

ul.todo li a:hover {
  background-color: $white;
  border-bottom: 1px solid $border-colour;
  border-top: 1px solid $border-colour;
  border-right: 1px solid $border-colour;
  span.heading {
    text-decoration: underline;
  }
}

ul.todo li a span.small,
ul.todo li.dependencies span.small {
  @include core-16;
  color: $black;
  display: table;
}

ul.todo li.overdue a {
  border-left-color: $error-colour;
  .overdue {
    color: $error-colour;
  }
}

ul.todo li.risk a {
  border-left-color: $orange;
  .risk {
    color: darken($orange, 20%);
  }
}

.cya-change + .cya-change {
  padding-left: 10px;
}





.tag {
  vertical-align: middle;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 3.01px;
  color: #3572b0;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  padding-top: 4px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin: -80px 5px 0 0;
  text-align: left;
  text-decoration: none;

  color: #fff;
  background-color: #2b8cc4;
  border-color: #2b8cc4;
}





.archived-message {
  border: 5px solid #005ea5;
  padding: 20px;
  margin-bottom: 20px;
}
  .archived-message h2 {
    margin-top: 0;
  }





.releasenote {
  background-color: $govuk-blue;
  color: white;
  padding: 20px;
  margin-bottom: 15px;
}





.breadcrumbs .active {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}
