{% extends "layout.html" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/templates/tags/">Manage tags</a></li>
    <li><a href="#" class="active">Add a new tag</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large mt-10 mb-15">
      Add a new tag
    </h1>

    <form action="/admin/templates/tags" method="get" class="form">

      <div class="form-group">
        <label class="form-label" for="newtag_name">Tag name</label>
        <input class="form-control" id="newtag_name" name="newtag_name" value="{{ data['newtag_name'] }}" type="text" autocomplete="off">
      </div>

      <div class="form-group">
        <fieldset class="inline">
          <legend class="form-label">Tag Status</legend>
          <div class="multiple-choice">
            <input id="active" type="radio" name="newtag_status" value="Active" {{ checked('newtag_status','Active') }}>
            <label for="active">Active</label>
          </div>

          <div class="multiple-choice">
            <input id="disabled" type="radio" name="newtag_status" value="Disabled" {{ checked('newtag_status','Disabled') }}>
            <label for="disabled">Disabled</label>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <label class="form-label" for="newtag_display">
          Display position
          <span class="form-hint">The order when displayed on a to-do</span>
        </label>
        <input class="form-control form-control-1-8" id="newtag_display" name="newtag_display" value="{{ data['newtag_display'] }}" type="text" autocomplete="off">
      </div>

      <div class="form-group">
        <label class="form-label" for="newtag_filter">
          Filter position
          <span class="form-hint">The order when displayed in the filter list</span>
        </label>
        <input class="form-control form-control-1-8" id="newtag_filter" name="newtag_filter" value="{{ data['newtag_filter'] }}" type="text" autocomplete="off">
      </div>

      <div class="form-group">
        <label class="form-label" for="newtag_colour">Colour</label>
        <select class="form-control" id="newtag_colour" name="newtag_colour">
          <option>- - Select a colour - -</option>
          <option>Dark blue</option>
          <option>Green</option>
          <option>Light blue</option>
          <option>Magenta</option>
          <option>Pink</option>
          <option>Purple</option>
          <option>White</option>
        </select>
      </div>

      <div class="form-group form-group-related">
        <input type="submit" class="button" value="Save tag">
        <a class="button-link" href="/admin/templates/tags">Cancel</a>
      </div>

    </form>

  </div>
</div>
{% endblock %}
