{% extends "layout.html" %}
{% block adminnav %}{% endblock %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin" class="active">Admin</a></li>
  </ol>
</div>
<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Admin
    </h1>

    <h2 class="heading-large mb-10">
      View your plans
    </h2>
    <p class="form-hint">View activity across your live and completed plans</p>
    <ul class="list">
      <li><a href="/user/plans">View plans</a></li>
      <li><a href="#0">View recent activity</a></li>
    </ul>





    <h2 class="heading-large mb-10">
      Manage plans
    </h2>
    <p class="form-hint">A plan is what a user in a site will see and is created from a template</p>

    <h3 class="heading-medium">
      Manage templates
    </h3>
    <ul class="list">
      <li><a href="/admin/plan-types/create">Create a new plan template</a></li>
      <li><a href="#0">Edit existing plan templates</a></li>
      <li><a href="/admin/plan-types/tags">Manage tags</a></li>
    </ul>

    <h3 class="heading-medium">
      Add and update site plans
    </h3>
    <ul class="list">
      <li><a href="/admin/sites/addsite">Add a new plan</a></li>
      <li><a href="">Update existing plans</a></li>
    </ul>

    <h3 class="heading-medium">
      Manage site plans
    </h3>
    <ul class="list">
      <li><a href="#0">Change a plan&rsquo;s name</a></li>
      <li><a href="#0">Change a plan&rsquo;s go-live date</a></li>
      <li><a href="#0">Remove a plan</a></li>
      <li><a href="#0">Restore a plan</a></li>
    </ul>






    <h2 class="heading-large mb-10">
      Manage users
    </h2>
    <p class="form-hint">A user is a person that can access the service</p>
    <ul class="list">
      <li><a href="#0">Add a new user</a></li>
      <li><a href="/admin/users/manage-users">Manage existing users</a></li>
      <li><a href="#0">Re-issue user password</a></li>
      <li><a href="#0">Create and assign multiple users to a plan</a></li>
      <li><a href="#0">Send an email to all users</a></li>
    </ul>
  </div>
</div>
{% endblock %}
