{% extends "layout.html" %}
{% block adminnav %}{% endblock %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin" class="active">Admin</a></li>
  </ol>
</div>
<div class="grid-row">
  <div class="column-full">
    {% if plansaved %}
    <div class="panel panel-border-wide alert-success" role="alert" aria-labelledby="alert-summary-heading" tabindex="-1">
      <h2 class="alert-summary-heading">Published &lsquo;{{ data['pt-name'] }}&rsquo;</h2>
      <!-- <p>You can now <a href="/admin/sites/assign">assign the plan to a site</a>.</p> -->
    </div>
    {% endif %}

    {% if siteadded %}
    <div class="panel panel-border-wide alert-success" role="alert" aria-labelledby="alert-summary-heading" tabindex="-1">
      <h2 class="alert-summary-heading">The plan &lsquo;{{ data['site-name'] }}&rsquo; was added</h2>
    </div>
    {% endif %}
  </div>
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Admin
    </h1>






    <h2 class="heading-medium mb-10">
      Template administration
    </h2>
    <p class="form-hint">Templates are used to create and edit to-dos. They can be used to create multiple plans.</p>
    <ul class="list">
      <li><a href="/admin/plan-types/create">Create a new plan template</a></li>
      <li><a href="/admin/plan-types/">Manage existing plan templates</a></li>
      <!-- <li><a href="/admin/sites/upgrade">Update a plan from a template</a></li> -->
      <li><a href="/admin/plan-types/tags">Manage tags</a></li>
    </ul>






    <h2 class="heading-medium mb-10">
      Plan administration
    </h2>
    <p class="form-hint">Plans are created for individual sites based on a template. Users will access a plan to view their to-dos.</p>
    <ul class="list">
      <li><a href="/user/plans">View plans</a></li>
      <li><a href="#0">View recent activity</a></li>
      <li><a href="/admin/sites/addsite">Add a new plan</a></li>
      <li><a href="#0">Change a plan&rsquo;s name</a></li>
      <li><a href="#0">Change a plan&rsquo;s go-live date</a></li>
      <li><a href="#0">Remove a plan</a></li>
      <li><a href="#0">Restore a plan</a></li>
    </ul>






    <h2 class="heading-medium mb-10">
      User administration
    </h2>
    <p class="form-hint">A user is a person that can access the service.</p>
    <ul class="list">
      <li><a href="#0">Add a new user</a></li>
      <li><a href="/admin/users/manage-users">Manage existing users</a></li>
      <li><a href="#0">Re-issue user password</a></li>
      <li><a href="#0">Create and assign multiple users to a plan</a></li>
      <li><a href="#0">Send an email to all users</a></li>
    </ul>
  </div>
</div>
{% endblock %}
