{% extends "layout.html" %} {% block content %}
<div class="grid-row">
  <div class="column-full">

    <div class="admin-submenu-container">
      <h1 class="heading-large mt-10 mb-15">Section 1</h1>
      <div class="admin-submenu">
        <ul>
          <li><a href="#">To-do information</a></li>
          <li><a href="#">Main content</a></li>
          <li><a href="#">Tasks</a></li>
          <li><a href="#">Supporting content</a></li>
          <li><a href="#">Release note</a></li>
        </ul>
      </div>

      <div class="admin-panes">
        <div class="admin-pane">

          <h2 class="heading-medium">
            To-do:<br>
            {{ data['todo-title'] if data['todo-title'] else "Example" }}
          </h1>

          <p>{{ data['pt-desc'] if data['pt-desc'] else "Example description" }}</p>
          <p><strong class="bold">Hierarchy:</strong> {{ data['pt-level1'] if data['pt-level1'] else "undefined" }}/{{ data['pt-level2'] if data['pt-level2'] else "undefined" }}/{{ data['pt-level3'] if data['pt-level3'] else "undefined" }}</p>

          <p class="mt-30">
            <a href="/admin/plan-types/create/todo">Edit to-do information</a>
          </p>

        </div>

        <div class="admin-pane">

          <div class="grid-row">
            <div class="column-two-thirds">
              {% if data['todo-main-content'] %}
                <div class="preview">
                  <p class="lede">
                    {{ data['todo-main-lede'] }}
                  </p>

                  <p>
                    {{ data['todoRendered'] | safe }}
                  </p>
                </div>
                <p class="mt-30 mb-0">
                  <a href="/admin/plan-types/create/todo/main-content">Edit main content</a>
                </p>
              {% else %}
                <p>No main content yet</p>
                <p class="mt-30 mb-0">
                  <a href="/admin/plan-types/create/todo/main-content">Add main content</a>
                </p>
              {% endif %}
            </div>
          </div>

        </div>

        <div class="admin-pane">

          <div class="grid-row">
            <div class="column-two-thirds">
              <!-- <p>No tasks yet</p>
              <p class="mt-30">
                <a href="/admin/plan-types/create/todo">Add task</a>
              </p> -->

              <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                  <dd class="cya-answer">
                    Make a list of all of your local partners and stakeholders – your local authorities can help you do this.
                  </dd>
                  <dd class="cya-change">
                    <a href="#">
                      Edit/delete
                    </a>
                  </dd>
                </div>

                <div>
                  <dd class="cya-answer">
                    Plan an event to tell local partners and stakeholders about UC full service. You might need to host more than one event.
                  </dd>
                  <dd class="cya-change">
                    <a href="#">
                      Edit/delete
                    </a>
                  </dd>
                </div>

                <div>
                  <dd class="cya-answer">
                    Send invitations for your event.
                  </dd>
                  <dd class="cya-change">
                    <a href="#">
                      Edit/delete
                    </a>
                  </dd>
                </div>
              </dl>
              <p class="mt-30 mb-0">
                <a href="/admin/plan-types/create/todo">Add a task</a> or <a href="#0">reorder tasks</a>
              </p>
            </div>
          </div>

        </div>

        <div class="admin-pane">
          <p>No supporting content yet</p>

          <p class="mt-30">
            <a href="/admin/plan-types/create/todo">Add supporting content</a>
          </p>
        </div>

        <div class="admin-pane">
          <p>No release note yet</p>

          <p class="mt-30">
            <a href="/admin/plan-types/create/todo">Add release note</a>
          </p>
        </div>
      </div>
    </div>

    <hr class="mb-30">
    <p>
      <a class="button" href="#0" role="button">Save to-do</a>
    </p>
    <p>
      or <a href="0">delete draft to-do</a>
    </p>

  </div>
</div>
{% endblock %}
