{% extends "layout.html" %}
{% set active = "plans" %}
{% block adminnav %}{% endblock %}

{% block content %}
<!-- <div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Plans</a></li>
    <li><a href="/admin/plan-types/create/draft">{{ data['pt-name'] if data['pt-name'] else "Example plan" }}</a></li>
  </ol>
</div> -->

<div class="grid-row">
  <div class="column-full">
    <a href="javascript:history.back()" class="link-back">Back</a>
  </div>
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Add a new to-do
    </h1>

    <!-- <form action="/admin/plan-types/create/todo/draft" method="get" class="form"> -->
    <form action="/admin/plan-types/create/todo/stepped/main-content" method="get" class="form">

      <div class="form-group">
        <label class="form-label-bold" for="todo-title">Title</label>
        <input class="form-control" id="todo-title" name="todo-title" value="{{ data['todo-title'] }}" type="text" autocomplete="off">
      </div>

      <!-- <div class="form-group">
        <fieldset>

          <legend>
            <span class="form-label-bold">
              Number of weeks before the ‘go live’ date
            </span>
          </legend>

          <div class="grid-row">
            <div class="column-one-quarter">
              <label class="form-label" for="todo-start">Start week</label>
              <input class="form-control" id="todo-start" name="todo-start" value="{{ data['todo-start'] }}" type="number" pattern="[0-9]*" autocomplete="off">
            </div>
            <div class="column-one-quarter">
              <label class="form-label" for="todo-end">End week</label>
              <input class="form-control" id="todo-end" name="todo-end" value="{{ data['todo-end'] }}" type="number" pattern="[0-9]*" autocomplete="off">
            </div>
          </div>

        </fieldset>
      </div> -->

      <div class="form-group">
        <label class="form-label-bold" for="plan-length">How many weeks will the to-do take to complete?</label>
        <input class="form-control form-control-1-8" id="plan-length" name="plan-length" value="{{ data['plan-length'] }}" type="text" autocomplete="off">
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="plan-finish">
          Which week should the to-do be finsihed?
          <span class="form-hint">e.g. 1 is the final week</span>
        </label>
        <input class="form-control form-control-1-8" id="plan-finish" name="todo-end" value="{{ data['todo-end'] }}" type="text" autocomplete="off">
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="todo-priority">
          Priority <small>(optional)</small>
          <span class="form-hint">This is used when more than one to-do has the same start and end week. Enter a number (1 is the highest todo-priority)</span>
        </label>
        <input class="form-control form-control-1-8" id="todo-priority" name="todo-priority" value="{{ data['todo-priority'] }}" type="text" autocomplete="off">
      </div>

      <div class="form-group form-group-related">
        <input type="submit" class="button" value="Continue">
      </div>

    </form>

    <p>
      or <a href="/canceltodo">cancel</a>
    </p>

  </div>
</div>
{% endblock %}
