{% extends "layout.html" %}
{% block adminnav %}{% endblock %}
{% set user = "service" %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Archived plans
    </h1>

    <nav class="admin-submenu">
      <ul>
        <li><a href="/user/plans">Active plans</a></li>
        <li class="active"><a href="#0">Archived plans</a></li>
        <li><a href="#0">Removed plans</a></li>
      </ul>
    </nav>

    <h2 class="heading-medium">
      3 archived plans
    </h2>
    <ul class="list list-bullet">
      <li><a href="/user/plan?plan=Abergavenny">Abergavenny</a></li>
      <li><a href="/user/plan?plan=Abertillery">Abertillery</a></li>
      <li><a href="/user/plan?plan=Aberystwyth">Aberystwyth</a></li>
      {% if data['site-name'] %}
      <li><a href="/user/plan?plan={{ data['site-name'] }}">{{ data['site-name'] }}</a></li>
      {% endif %}
    </ul>


  </div>
</div>
{% endblock %}
