{% extends "layout.html" %}
{% block adminnav %}{% endblock %}
{% set user = "service" %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Plans
    </h1>

    <h2 class="heading-large">
      Summary view
    </h2>
    <ul class="list list-bullet">
      <li><a href="#0">Issues across your plans</a></li>
      <li><a href="#0">Issues across your plans - view by issue</a></li>
      <li><a href="#0">Issues across your plans - view by plan</a></li>
    </ul>


    <h2 class="heading-large">
      Detail view
    </h2>
    <ul class="list list-bullet">
      <li><a href="/user/plan?plan=Abergavenny">Abergavenny</a></li>
      <li><a href="/user/plan?plan=Abertillery">Abertillery</a></li>
      <li><a href="/user/plan?plan=Aberystwyth">Aberystwyth</a></li>
      {% if data['site-name'] %}
      <li><a href="/user/plan?plan={{ data['site-name'] }}">{{ data['site-name'] }}</a></li>
      {% endif %}
    </ul>


  </div>
</div>
{% endblock %}
