{% extends "layout.html" %}
{% set active = "plans" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Plans</a></li>
    <li><a href="/admin/plan-types">{{ data['pt-name'] if data['pt-name'] else "Example plan" }}</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Preview task
    </h1>

    <div class="preview">

      <p>
        {{ data['taskRendered'] | safe if data['taskRendered'] else "Example task content" }}

      </p>
    </div>
    <p>
      <a href="/admin/plan-types/create/todo/main-content">Edit task</a>
    </p>

    <p>
      <a class="button" href="/admin/plan-types/create/todo/stepped/tasks" role="button">Continue</a>
    </p>

    <p>
      or <a href="/admin/plan-types/create/todo">cancel <span class="visuallyhidden">creating a new plan type</span></a>
    </p>

  </div>
</div>
{% endblock %}
