{% extends "layout.html" %}
{% set active = "plans" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Plans</a></li>
    <li><a href="/admin/plan-types">{{ data['pt-name'] if data['pt-name'] else "Example plan" }}</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Add supporting content
    </h1>

    <form action="/admin/plan-types/create/todo/stepped/supporting" method="post" class="form">

      <div class="form-group">
        <label class="form-label" for="link-title">Link title</label>
        <input class="form-control form-control-3-4" id="link-title" name="link-title" value="{{ data['link-title'] }}" type="text" autocomplete="off">
      </div>


      <div class="form-group">
        <label class="form-label" for="link-url">
          URL
          <span class="form-hint">You&rsquo;ll need to include either &ldquo;http://&rdquo; or &ldquo;https://&rdquo;</span>
        </label>
        <input class="form-control form-control-3-4" id="link-url" name="link-url" value="{{ data['link-url'] }}" type="text" autocomplete="off">
      </div>

      <div class="form-group form-group-related">
        <input type="submit" class="button" value="Continue">
      </div>

    </form>

    <p>
      or <a href="/canceltodo">cancel</a>
    </p>

  </div>
</div>
{% endblock %}
