{% extends "layout.html" %}
{% set active = "plans" %}
{% block adminnav %}{% endblock %}

{% block content %}
<!-- <div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Plans</a></li>
    <li><a href="/admin/plan-types">{{ data['pt-name'] if data['pt-name'] else "Example plan" }}</a></li>
  </ol>
</div> -->

<div class="grid-row">
  <div class="column-full">
    <a href="javascript:history.back()" class="link-back">Back</a>
  </div>
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Check and confirm to-do:<br>
      {{ data['todo-title'] }}
    </h1>

    <dl class="govuk-check-your-answers cya-questions-short mt-30">
      <div>
        <dt class="cya-question">
          Title
        </dt>
        <dd class="cya-answer">
          {{ data['todo-title'] if data['todo-title'] else "<span class='grey'>Title not added</span>" |safe }}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/">
            Edit
          </a>
        </dd>
      </div>

      <div>
        <dt class="cya-question">
          Start week
        </dt>
        <dd class="cya-answer">
          {{ data['todo-start'] if data['todo-start'] else "<span class='grey'>Start week not added</span>" |safe }}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/">
            Edit
          </a>
        </dd>
      </div>

      <div>
        <dt class="cya-question">
          End week
        </dt>
        <dd class="cya-answer">
          {{ data['todo-end'] if data['todo-end'] else "<span class='grey'>End week not added</span>" |safe }}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/">
            Edit
          </a>
        </dd>
      </div>

      <div>
        <dt class="cya-question">
          Priority
        </dt>
        <dd class="cya-answer">
          {{ data['todo-priority'] if data['todo-priority'] else "<span class='grey'>Priority not added</span>" |safe }}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/">
            Edit
          </a>
        </dd>
      </div>

      <div>
        <dt class="cya-question">
          Lead paragraph
        </dt>
        <dd class="cya-answer">
          {{ data['todo-main-lede'] if data['todo-main-lede'] else "<span class='grey'>Lead paragraph not added</span>" |safe }}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/stepped/main-content">
            Edit
          </a>
        </dd>
      </div>

      <div>
        <dt class="cya-question">
          Content
        </dt>
        <dd class="cya-answer">
          {{ data['todo-main-content'] if data['todo-main-content'] else "<span class='grey'>Main content not added</span>" |safe }}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/stepped/main-content">
            Edit
          </a>
        </dd>
      </div>

      <div>
        <dt class="cya-question">
          Tasks
        </dt>
        <dd class="cya-answer">
          <ul>
            <li>{{ data['task-content'] if data['task-content'] else "<span class='grey'>Tasks not added</span>" |safe }}</li>
            {% if data['task-content-2'] %}
            <li>{{ data['task-content-2'] }}</li>
            {% endif %}
            {% if data['task-content-3'] %}
            <li>{{ data['task-content-3'] }}</li>
            {% endif %}
          </ul>
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/stepped/tasks">
            Edit
          </a>
        </dd>
      </div>

      <div>
        <dt class="cya-question">
          Supporting content
        </dt>
        <dd class="cya-answer">
          {% if data['link-title'] %}
          <ul>
            <li>{{ data['link-title'] }} ({{ data['link-url'] }})</li>
          </ul>
          {% else %}
          <span class='grey'>Supporting content not added</span>
          {% endif %}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/stepped/supporting">
            Edit
          </a>
        </dd>
      </div>

      <div>
        <dt class="cya-question">
          Tags
        </dt>
        <dd class="cya-answer">
          <ul>
            {% for i in data['todo-tags'] %}
              <li>{{ i }}</li>
            {% else %}
              <li><span class='grey'>Tags not added</span></li>
            {% endfor %}
          </ul>
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/stepped/tags">
            Edit
          </a>
        </dd>
      </div>

      <div>
        <dt class="cya-question">
          Release note
        </dt>
        <dd class="cya-answer">
          {% if data['release-content'] %}
          {{ data['release-content'] }}
          {% else %}
          <span class='grey'>Release note not added</span>
          {% endif %}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/stepped/release">
            Edit
          </a>
        </dd>
      </div>
    </dl>


    <div class="form-group mt-30">
      <a href="/admin/plan-types/create/draft" class="button">Save to-do</a>
      <a href="/admin/plan-types/create/todo/stepped/preview" class="button-secondary">Preview to-do</a>
    </div>

    <p>
      or <a href="/canceltodo">discard to-do</a>
    </p>

  </div>
</div>
{% endblock %}
