{% extends "layout.html" %}
{% set active = "plans" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Plans</a></li>
    <li><a href="/admin/plan-types">{{ data['pt-name'] if data['pt-name'] else "Example plan" }}</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Preview main content
    </h1>

    <div class="preview">
      <p class="lede">
        {{ data['todo-main-lede'] if data['todo-main-lede'] }}
      </p>

      <p>
        {{ data['todoRendered'] | safe if data['todoRendered'] }}

      </p>
    </div>
    <p class="mt-15 mb-30">
      <a href="/admin/plan-types/create/todo/stepped/main-content">Edit main content</a>
    </p>

    <p>
      <a class="button" href="/admin/plan-types/create/todo/stepped/add-task" role="button">Continue</a>
    </p>

    <p>
      or <a href="/admin/plan-types/create/todo/stepped/confirm2">save progress and review</a>
    </p>

  </div>
</div>
{% endblock %}
