{% extends "layout.html" %}
{% set active = "plans" %}
{% block adminnav %}{% endblock %}

{% block content %}
<!-- <div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Plans</a></li>
    <li><a href="/admin/plan-types">{{ data['pt-name'] if data['pt-name'] else "Example plan" }}</a></li>
  </ol>
</div> -->

<div class="grid-row">
  <div class="column-full">
    <a href="javascript:history.back()" class="link-back">Back</a>
  </div>
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Supporting content
    </h1>

    <dl class="govuk-check-your-answers cya-questions-short">
      <div>

        {% if data['link-title'] %}
        <dd class="cya-answer">
          {{ data['link-title'] }} <span class="grey">({{ data['link-url'] }})</span>
        </dd>
        <dd class="cya-change">
          <a href="#0">
            Edit/delete
          </a>
        </dd>
        {% else %}
        <p class='grey'>No supporting content</p>
        {% endif %}


      </div>
      <!-- <div>
        <dd class="cya-answer">
          Security advice centre<br>http://intralink/1/corp/sites/security/security-advice-support-centre/index.asp
        </dd>
        <dd class="cya-change">
          <a href="#0">
            Edit/delete
          </a>
        </dd>
      </div> -->
    </dl>
    <p class="mt-15 mb-30">
      <a href="#0">Add supporting content</a> or <a href="#0">reorder supporting content</a>
    </p>

    <p>
      <a class="button" href="/admin/plan-types/create/todo/stepped/tags" role="button">Continue</a>
    </p>

    <p>
      or <a href="/admin/plan-types/create/draft">cancel <span class="visuallyhidden">creating a new plan type</span></a>
    </p>

  </div>
</div>
{% endblock %}
