{% extends "layout.html" %}
{% set active = "plans" %}
{% block adminnav %}{% endblock %}

{% block content %}
<!-- <div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Plans</a></li>
    <li><a href="/admin/plan-types">{{ data['pt-name'] if data['pt-name'] else "Example plan" }}</a></li>
  </ol>
</div> -->

<div class="grid-row">
  <div class="column-full">
    <a href="javascript:history.back()" class="link-back">Back</a>
  </div>
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Add tags
    </h1>
    <p>Tags allow the user to filter to-dos</p>

    <form action="/admin/plan-types/create/todo/stepped/confirm2" method="post" class="form">

      <div class="form-group">
        <fieldset>
          <legend class="form-label mb-10">Select tags to add</legend>

          <div class="multiple-choice">
            <input id="people" type="checkbox" name="todo-tags" value="People" {{ checked('todo-tags','People') }}>
            <label for="people">People</label>
          </div>

          <div class="multiple-choice">
            <input id="training" type="checkbox" name="todo-tags" value="Training" {{ checked('todo-tags','Training') }}>
            <label for="training">Training</label>
          </div>

          <div class="multiple-choice">
            <input id="partnerships" type="checkbox" name="todo-tags" value="Partnerships" {{ checked('todo-tags','Partnerships') }}>
            <label for="partnerships">Partnerships</label>
          </div>

          <div class="multiple-choice">
            <input id="access" type="checkbox" name="todo-tags" value="Access" {{ checked('todo-tags','Access') }}>
            <label for="access">Access</label>
          </div>

          <div class="multiple-choice">
            <input id="estates" type="checkbox" name="todo-tags" value="Estates" {{ checked('todo-tags','Estates') }}>
            <label for="estates">Estates</label>
          </div>

          <div class="multiple-choice">
            <input id="technology" type="checkbox" name="todo-tags" value="Technology" {{ checked('todo-tags','Technology') }}>
            <label for="technology">Technology</label>
          </div>

          <div class="multiple-choice">
            <input id="assurance" type="checkbox" name="todo-tags" value="Assurance" {{ checked('todo-tags','Assurance') }}>
            <label for="assurance">Assurance</label>
          </div>


        </fieldset>
      </div>

      <div class="form-group form-group-related">
        <input type="submit" class="button" value="Continue">
        <a class="button-link" href="/admin/plan-types/create/todo/stepped/confirm2">Save progress and review</a>
      </div>

    </form>

  </div>
</div>
{% endblock %}
