{% extends "layout.html" %} {% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large mt-10 mb-15">
      Add tasks
    </h1>

    <dl class="govuk-check-your-answers cya-questions-short">
      <div>
        <dd class="cya-answer">
          Make a list of all of your local partners and stakeholders – your local authorities can help you do this.
        </dd>
        <dd class="cya-change">
          <a href="#">
            Edit/delete
          </a>
        </dd>
      </div>

      <div>
        <dd class="cya-answer">
          Plan an event to tell local partners and stakeholders about UC full service. You might need to host more than one event.
        </dd>
        <dd class="cya-change">
          <a href="#">
            Edit/delete
          </a>
        </dd>
      </div>

      <div>
        <dd class="cya-answer">
          Send invitations for your event.
        </dd>
        <dd class="cya-change">
          <a href="#">
            Edit/delete
          </a>
        </dd>
      </div>
    </dl>
    <p class="mt-15">
      <a href="#0">Add a task</a> or <a href="#0">reorder tasks</a>
    </p>

    <p>
      <a class="button" href="/admin/plan-types/create/todo/stepped/supporting" role="button">Continue</a>
    </p>

    <p>
      or <a href="/admin/plan-types/create/todo/draft">cancel <span class="visuallyhidden">creating a new plan type</span></a>
    </p>

  </div>
</div>
{% endblock %}
