{% extends "layout.html" %}
{% set active = "plans" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Plans</a></li>
    <li><a href="/admin/plan-types">{{ data['pt-name'] if data['pt-name'] else "Example plan" }}</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Add tasks
    </h1>

    <dl class="govuk-check-your-answers cya-questions-short">
      <div>
        <dd class="cya-answer">
          <!-- {{ data['taskRendered'] | safe }} -->
          {{ data['task-content'] }}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/stepped/add-task">
            Edit
          </a>
        </dd>
        <dd class="cya-change">
          <a href="#0">
            Delete
          </a>
        </dd>
      </div>


      {% if data['task-content-2'] %}
      <div>
        <dd class="cya-answer">
          <!-- {{ data['taskRendered'] | safe }} -->
          {{ data['task-content-2'] }}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create/todo/stepped/add-task2">
            Edit
          </a>
        </dd>
        <dd class="cya-change">
          <a href="#0">
            Delete
          </a>
        </dd>
      </div>
      {% endif %}
    </dl>
    <p class="mt-15 mb-30">
      {% if data['task-content-2'] %}
      <a href="#0">Add a task</a> or <a href="#0">reorder tasks</a>
      {% else %}
      <a href="/admin/plan-types/create/todo/stepped/add-task2">Add a task</a> or <a href="#0">reorder tasks</a>
      {% endif %}
    </p>

    <p>
      <a class="button" href="/admin/plan-types/create/todo/stepped/add-supporting" role="button">Continue</a>
    </p>

    <p>
      or <a href="/canceltodo">cancel</a>
    </p>

  </div>
</div>
{% endblock %}
