{% extends "layout.html" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/templates">Manage existing templates</a></li>
    <li><a href="draft">{{ data['template-name'] if data['template-name'] else "Example plan" }}</a></li>
    <li><a href="/admin" class="active">Delete template</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Are you sure you want to delete the draft of &lsquo;{{ data['pt-name'] if data['pt-name'] else "Test plan" }}&rsquo;?
    </h1>
    <p>The plan type draft will be deleted. This action cannot be undone.</p>
    <p>
      <a class="button-delete" href="/deletedraftplan">Yes, delete</a>

      <a class="button-link" href="draft" >Cancel</a>
    </p>

  </div>
</div>
{% endblock %}
