{% extends "layout.html" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/templates">Manage existing templates</a></li>
    <li><a href="draft">{{ data['template-name'] if data['template-name'] else "Example plan" }}</a></li>
    <li><a href="#0" class="active">Publish template</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Are you sure you want to publish the draft of &lsquo;{{ data['template-name'] if data['template-name'] else "Example plan" }}&rsquo;?
    </h1>
    <p>Once published the template will be available to use with new plans.</p>
    <p>
      <a class="button" href="/templatesaved">Yes, publish</a>

      <a class="button-link" href="draft" >Cancel</a>
    </p>

  </div>
</div>
{% endblock %}
