{% extends "layout.html" %} {% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large mt-10 mb-15">
        Plan template:<br>
        UC JC 50_50
        <span class="heading-secondary">Version 1 (draft)</span>
      </h1>

    <p>Plan templates used by sites with a 50/50 go live split, by postcode. For the 2nd go live date, sites to use this plan template, with a reduced number of to-dos Corresponds to content change 14/12/2017 - Support local partners and stakeholders & discuss
      your site readiness</p>
    <p><strong class="bold">Hierarchy:</strong> undefined/undefined/undefined</p>

    <p class="mt-30">
      <a href="#0">Edit plan information</a>
    </p>

    <hr>

    <h2 class="heading-medium">
      To-dos
    </h2>

  </div>
</div>
{% endblock %}
