{% extends "layout.html" %}
{% set active = "plans" %}

{% block content %}
<div class="grid-row">
  <div class="column-full">
    {% if data['plan_saved'] %}
    <div class="panel panel-border-wide alert-success">
      <p>The plan &lsquo;{{ data['pt-name'] }}&rsquo; was saved. You can now <a href="/admin/sites/assign">assign a site to this plan</a>.</p>
    </div>
    {% endif %}
  </div>
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Plans
    </h1>

    <h2 class="heading-medium">
      Plan administration
    </h2>
    <ul class="list">
      <li><a href="/admin/plan-types/create">Create a new plan</a></li>
      <li><a href="/admin/plan-types/tags">Manage tags</a></li>
    </ul>

    <h2 class="heading-medium">
      Current plans
    </h2>
    <ul class="list">
      {% if data['pt-name'] %}
      <li><a href="/admin/plan-types/create/draft">{{ data['pt-name'] }} (version 1 - draft)</a></li>
      {% endif %}
      <li><a href="#0">UC JC 50_50 (version 5)</a></li>
      <li><a href="#0">UC JC (version 1 - draft)</a></li>
      <li><a href="#0">UC (version 1)</a></li>
    </ul>
    <!-- <ul class="list">
      {% if data['pt-name'] %}
      <li>
        <h3 class="heading-small">
            <a href="/admin/plan-types/create/draft">{{ data['pt-name'] }} (version 1 - draft)</a>
          </h3>
        <p class="mb-10">Last edited: 26 January 2018 13:21</p>
      </li>
      <hr class="plan-types-line">
      {% endif %}
      <li>
        <h3 class="heading-small">
            <a href="#0">UC JC 50_50 (version 1 - draft)</a>
          </h3>
        <p class="mb-10">Last edited: 14 December 2017 10:46</p>
      </li>
      <hr class="plan-types-line">

      <li>
        <h3 class="heading-small">
            <a href="#0">UC JC (version 5)</a>
          </h3>
        <p class="mb-10">Last edited: 14 December 2017 10:39</p>

        <details class="font-xsmall mb-10" role="group">
          <summary role="button" aria-expanded="false">
            <span class="summary">Previous versions</span>
          </summary>
          <div class="panel panel-border-narrow" id="details-content-175735" aria-hidden="true">
            <ul class="list list-bullet">

              <li>
                <a href="#0">Version 5</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 4</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 3</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 2</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 1</a> published: 17 January 2018 11:27
              </li>

            </ul>
          </div>
        </details>

      </li>
      <hr class="plan-types-line">

      <li>
        <h3 class="heading-small">
            <a href="#0">UC (version 1)</a>
          </h3>
        <p class="mb-10">Published: 17 January 2018 11:27</p>

        <details class="font-xsmall mb-10" role="group">
          <summary role="button" aria-expanded="false">
            <span class="summary">Previous versions</span>
          </summary>
          <div class="panel panel-border-narrow" id="details-content-2" aria-hidden="true">
            <ul class="list list-bullet">

              <li>
                <a href="#0">Version 1</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 1</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 1</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 1</a> published: 17 January 2018 11:27
              </li>

            </ul>
          </div>
        </details>

      </li>
      <hr class="plan-types-line">
    </ul> -->

  </div>
</div>
{% endblock %}
