{% extends "layout.html" %}
{% set active = "plans" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin" class="active">Templates</a></li>
  </ol>
</div>
<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Manage existing templates
    </h1>

    <ul class="list list-bullet">
      {% if data['pt-name'] %}
        {% if data['plan_saved'] %}
          <li><a href="/admin/plan-types/plan?plan-name={{ data['pt-name'] }}&plan-version=1&plan-desc={{ data['pt-desc'] }}">{{ data['pt-name'] }}</a></li>
        {% else %}
          <li><a href="/admin/plan-types/create/draft">{{ data['pt-name'] }} - draft</a></li>
        {% endif %}
      {% endif %}
      <li><a href="/admin/plan-types/plan?plan-name=UC&plan-version=1&plan-desc=">UC</a></li>
      <li><a href="/admin/plan-types/plan?plan-name=UC JC 50_50&plan-version=5&plan-desc=Plan templates used by sites with a 50/50 go live split, by postcode. For the 2nd go live date, sites to use this plan template, with a reduced number of to-dos Corresponds to content change 14/12/2017 - Support local partners and stakeholders and discuss your site readiness">UC JC 50_50</a></li>
      <li><a href="/admin/plan-types/plan?plan-name=UC JC&plan-version=1 (draft)&plan-desc=">UC JC</a></li>
    </ul>

  </div>
</div>
{% endblock %}
