{% extends "layout.html" %} {% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large mt-10 mb-15">
        Plan types
      </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <ul class="list">

      <li>
        <h3 class="heading-small">
          <a href="/admin/plan-types/draft">UC JC 50_50 (version 1 - draft)</a>
        </h3>
        <p class="mb-10">Last edited: 14 December 2017 10:46</p>
      </li>
      <hr class="plan-types-line">

      <li>
        <h3 class="heading-small">
          <a href="/admin/plan-types/published">UC JC (version 5)</a>
        </h3>
        <p class="mb-10">Last edited: 14 December 2017 10:39</p>

        <details class="font-xsmall mb-10" role="group">
          <summary role="button" aria-expanded="false">
            <span class="summary">Previous versions</span>
          </summary>
          <div class="panel panel-border-narrow" id="details-content-175735" aria-hidden="true">
            <ul class="list list-bullet">

              <li>
                <a href="#0">Version 5</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 4</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 3</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 2</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 1</a> published: 17 January 2018 11:27
              </li>

            </ul>
          </div>
        </details>

      </li>
      <hr class="plan-types-line">

      <li>
        <h3 class="heading-small">
          <a href="#0">UC (version 1)</a>
        </h3>
        <p class="mb-10">Published: 17 January 2018 11:27</p>

        <details class="font-xsmall mb-10" role="group">
          <summary role="button" aria-expanded="false">
            <span class="summary">Previous versions</span>
          </summary>
          <div class="panel panel-border-narrow" id="details-content-2" aria-hidden="true">
            <ul class="list list-bullet">

              <li>
                <a href="#0">Version 1</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 1</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 1</a> published: 17 January 2018 11:27
              </li>

              <li>
                <a href="#0">Version 1</a> published: 17 January 2018 11:27
              </li>

            </ul>
          </div>
        </details>

      </li>
      <hr class="plan-types-line">

    </ul>
  </div>
</div>
{% endblock %}
