{% extends "layout.html" %}
{% set active = "plans" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Plans</a></li>
    <li><a href="/admin/plan-types/tags">Manage tags</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large mt-10 mb-15">
      Edit tag:<br>
      {{ data['tag_name'] }}
    </h1>

    <form action="/admin/plan-types/tags" method="get" class="form">

      <div class="form-group">
        <label class="form-label" for="tag_name">Tag name</label>
        <input class="form-control" id="tag_name" name="tag_name" value="{{ data['tag_name'] }}" type="text" autocomplete="off">
      </div>

      <div class="form-group">
        <fieldset class="inline">
          <legend class="form-label">Tag Status</legend>
          <div class="multiple-choice">
            <input id="active" type="radio" name="tag_status" value="Active" {{ checked('tag_status','Active') }}>
            <label for="active">Active</label>
          </div>

          <div class="multiple-choice">
            <input id="disabled" type="radio" name="tag_status" value="Disabled" {{ checked('tag_status','Disabled') }}>
            <label for="disabled">Disabled</label>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <label class="form-label" for="tag_display">Display position</label>
        <input class="form-control form-control-1-8" id="tag_display" name="tag_display" value="{{ data['tag_display'] }}" type="text" autocomplete="off">
      </div>

      <div class="form-group">
        <label class="form-label" for="tag_filter">Filter position</label>
        <input class="form-control form-control-1-8" id="tag_filter" name="tag_filter" value="{{ data['tag_filter'] }}" type="text" autocomplete="off">
      </div>

      <div class="form-group">
        <label class="form-label" for="tag_colour">Colour</label>
        <select class="form-control" id="tag_colour" name="tag_colour">
          <option>- - Select a colour - -</option>
          <option>Dark blue</option>
          <option>Green</option>
          <option>Light blue</option>
          <option>Magenta</option>
          <option>Pink</option>
          <option>Purple</option>
          <option>White</option>
        </select>
      </div>

      <div class="form-group form-group-related">
        <input type="submit" class="button" value="Save tag">
      </div>

    </form>

    <p>
      or <a href="/admin/plan-types/tags">cancel</a>
    </p>
  </div>
</div>
{% endblock %}
