{% extends "layout.html" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin">Admin</a></li>
    <li><a href="./">Manage existing users</a></li>
    <li><a href="#0" class="active">Example user</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large mt-10 mb-15">
      Example user
    </h1>
    <p class="green">Active account</p>

    <dl class="inline-definition-list">
      <dt class="bold">Date added:</dt>
      <dd> 13 January 2017</dd>
      <dt class="bold">Email address:</dt>
      <dd> change.deliveryframework@dwp.gsi.gov.uk</dd>
      <dt class="bold">Business area:</dt>
      <dd> System Administration</dd>
      <dt class="bold">Job role:</dt>
      <dd> System Administration</dd>
      <dt class="bold">Requester:</dt>
      <dd> </dd>
      <dt class="bold">User role:</dt>
      <dd> Administrator level four</dd>
    </dl>
    <p><a href="#0">Edit user details</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#0">Reset password</a></p>

    <h2 class="heading-small">
      Access to 3 sites
    </h2>
    <ol class="list list-number">
      <li>Abergavenny</li>
      <li>Abertillery</li>
      <li>Aberystwyth</li>
    </ol>
    <p><a href="#0">Assign user to another site</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="unassign">Unassign user from a site</a></p>

  </div>
</div>
{% endblock %}
