{% extends "layout.html" %}
{% set active = "plans" %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-large mt-0 mb-0">
          Plan saved
        </h1>
      </div>

      <h2 class="heading-medium">Next steps</h2>
      <p>You can now</p>
      <ul class="list list-bullet">
        <li><a href="/admin/sites/addsite">add a new site and assign the plan to it</a></li>
        <li><a href="/admin/sites/upgrade">upgrade a site to this plan</a></li>
      </ul>

      <p>Or <a href="/admin">go back to the admin home</a></p>


    </div>
  </div>

{% endblock %}
