{% extends "layout.html" %}
{% set active = "plans" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Templates</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
        Template:<br>
        {{ data['pt-name'] if data['pt-name'] else "Example plan" }}
        <span class="heading-secondary">Version 1{% if not data['plan_saved'] %} - draft{% endif %}</span>
      </h1>

    <p>{{ data['pt-desc'] if data['pt-desc'] else "Example plan description" }}</p>
    <p><strong class="bold">Hierarchy:</strong> {{ data['pt-level1'] if data['pt-level1'] else "<span class='grey'>undefined</span>" |safe }}/{{ data['pt-level2'] if data['pt-level2'] else "<span class='grey'>undefined</span>" |safe }}/{{ data['pt-level3'] if data['pt-level3'] else "<span class='grey'>undefined</span>" |safe }}</p>

    <p class="mt-30">
      <a href="/admin/plan-types/create">Edit plan information</a>
    </p>

    <hr>

    <h2 class="heading-medium">
      To-dos
    </h2>

    {% if data['todo-title'] %}
    <ol class="list">
      <li>
        <h3 class="heading-small">
          <a href="/admin/plan-types/create/todo">{{ data['todo-title'] }}</a>
        </h3>
        <p>From week 3 to week 1 · Version 1 · draft</p>
      </li>
    </ol>
    {% else %}
    <p>No to-dos yet</p>
    {% endif %}



    <p class="mt-30">
      <a href="/admin/plan-types/create/todo">Add a to-do</a>
    </p>

    <hr class="mb-30">

    <form action="/admin/plan-types" method="post" class="form">

      <input name="plan_saved" value="1" type="hidden">

      <div class="form-group">
        <input type="submit" class="button" value="Save version 1 of the template">
      </div>

    </form>
    <!-- <p>
      <a class="button mt-30" href="/admin/plan-types/create/confirmation-page" role="button">Save version 1 of this plan</a>
    </p> -->
    <p>
      or <a href="/deletedraftplan">delete draft of this template</a>
    </p>

  </div>
</div>
{% endblock %}
