{% extends "layout.html" %}
{% set active = "plans" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/plan-types">Templates</a></li>
    <li><a href="/admin" class="active">{{ data['pt-name'] if data['pt-name'] else "Example plan" }}</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Template:<br>
      {{ data['pt-name'] if data['pt-name'] else "Example plan" }}
      <span class="heading-secondary">Version 1{% if not data['plan_saved'] %} - draft{% endif %}</span>
    </h1>

    <h2 class="heading-medium">
      Plan details
    </h2>

    <dl class="govuk-check-your-answers cya-questions-short">
      <div>
        <dt class="cya-question">
          Plan name
        </dt>
        <dd class="cya-answer">
          {{ data['pt-name'] if data['pt-name'] else "Example plan" }}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create">
            Edit<span class="visually-hidden"> plan name</span>
          </a>
        </dd>
      </div>

      <div>
        <dt class="cya-question">
          Analytics tags
        </dt>
        <dd class="cya-answer">
          {{ data['pt-level1'] if data['pt-level1'] else "<span class='grey'>undefined</span>" |safe }}/{{ data['pt-level2'] if data['pt-level2'] else "<span class='grey'>undefined</span>" |safe }}/{{ data['pt-level3'] if data['pt-level3'] else "<span class='grey'>undefined</span>" |safe }}
        </dd>
        <dd class="cya-change">
          <a href="/admin/plan-types/create">
            Edit<span class="visually-hidden"> hierarchy</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="heading-medium">
      To-dos
    </h2>

    {% if data['todo-title'] %}
    <ul class="list list-bullet">
      <li><a href="#0">{{ data['todo-title-2'] }}</a></li>
      <li><a href="#0">{{ data['todo-title'] }}</a></li>
    </ul>

    <p class="mt-30">
      <a href="#0">Add a to-do</a>
    </p>
    {% elif data['todo-title-2'] %}
    <ul class="list list-bullet">
      <li><a href="#0">{{ data['todo-title-2'] }}</a></li>
    </ul>

    <p class="mt-30">
      <a href="/admin/plan-types/create/todo">Add a to-do</a>
    </p>
    {% else %}
    <p>No to-dos yet</p>
    <p class="mt-30">
      <a href="/admin/plan-types/create/todo">Add a to-do</a>
    </p>
    {% endif %}

    <hr class="mb-30">

    <form action="/plansaved" method="post" class="form">

      <input name="plan_saved" value="1" type="hidden">

      <div class="form-group form-group-related">
        <a href="/admin/plan-types/create/preview" class="button-secondary">Preview template</a>
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Publish template">
        <a class="button-link" href="/admin/plan-types/create/delete">Delete template</a>
      </div>

    </form>

  </div>
</div>
{% endblock %}
