{% extends "layout.html" %}
{% set active = "plans" %}
{% block adminnav %}{% endblock %}

{% block content %}
<!-- <div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Plan templates</a></li>
  </ol>
</div> -->

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
        Create a new {{ data['template'] | lower if data['template'] else "template" }}
      </h1>

      <p>This information will be used to organise the {{ data['template'] | lower if data['template'] else "template" }}. It won&rsquo;t be shown to the user of the {{ data['template'] | lower if data['template'] else "template" }}.</p>

      <form action="/admin/plan-types/create/todo" method="get" class="form">

        <div class="form-group">
          <label class="form-label" for="pt-name">{{ data['template'] if data['template'] else "Template" }} name</label>
          <input class="form-control form-control-3-4" id="pt-name" name="pt-name" value="{{ data['pt-name'] }}" type="text" autocomplete="off">
        </div>

        <div class="form-group">
          <label class="form-label" for="pt-desc">{{ data['template'] if data['template'] else "Template" }} description (optional)</label>
          <textarea class="form-control form-control-3-4" id="pt-desc" name="pt-desc" rows="3" autocomplete="off">{{ data['pt-desc'] }}</textarea>
        </div>

        <div class="form-group">
          <fieldset>

            <legend>
              <span class="form-label-bold">
                Analytics tags
              </span>
              <span class="form-hint">
                Ask your performance analyst for these
              </span>
            </legend>

            <div class="form-date mt-15">
              <div class="form-group form-group-year">
                <label class="form-label" for="pt-level1">Level 1</label>
                <input class="form-control" id="pt-level1" name="pt-level1" value="{{ data['pt-level1'] }}" type="text" autocomplete="off">
              </div>

              <div class="form-group form-group-year">
                <label class="form-label" for="pt-level2">Level 2</label>
                <input class="form-control" id="pt-level2" name="pt-level2" value="{{ data['pt-level2'] }}" type="text" autocomplete="off">
              </div>

              <div class="form-group form-group-year">
                <label class="form-label" for="pt-level3">Level 3</label>
                <input class="form-control" id="pt-level3" name="pt-level3" value="{{ data['pt-level3'] }}" type="text" autocomplete="off">
              </div>
            </div>

          </fieldset>
        </div>

        <div class="form-group form-group-related">
          <input type="submit" class="button" value="Save and continue">
          <a class="button-link" href="/admin/">Cancel</a>
        </div>

      </form>

  </div>
</div>
{% endblock %}
