{% extends "layout.html" %}
{% set active = "plans" %}
{% block adminnav %}{% endblock %}

{% block content %}
<!-- <div class="breadcrumbs">
  <ol>
    <li><a href="/admin/plan-types">Plan templates</a></li>
  </ol>
</div> -->

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
        Create a new plan template
      </h1>

      <p>This information will be used to organise the template. It won&rsquo;t be shown to the user of the plan.</p>

      <form action="/admin/plan-types/create/todo" method="get" class="form">
        <!-- /admin/plan-types/create/draft -->

        <div class="form-group">
          <label class="form-label-bold" for="pt-name">Template name</label>
          <input class="form-control" id="pt-name" name="pt-name" value="{{ data['pt-name'] }}" type="text" autocomplete="off">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="pt-desc">Template description (optional)</label>
          <textarea class="form-control form-control-3-4" id="pt-desc" name="pt-desc" rows="5" autocomplete="off">{{ data['pt-desc'] }}</textarea>
        </div>

        <div class="form-group">
          <fieldset>

            <legend>
              <span class="form-label-bold">
                Hierarchy
              </span>
              <span class="form-hint">
                The following fields are used in the plan’s URL and in Google Analytics
                <ul class="list list-bullet"><li>Level 1 should be UCFS</li>
                  <li>Level 2 should be ‘WSD’ for job centres and ‘SC’ for service centres</li>
                  <li>Level 3 should be unique to the template, it should be 4 letters or less with no special characters or spaces</li>
                </ul>
              </span>
            </legend>

            <div class="form-date mt-15">
              <div class="form-group form-group-year">
                <label class="form-label" for="pt-level1">Level 1</label>
                <input class="form-control" id="pt-level1" name="pt-level1" value="{{ data['pt-level1'] }}" type="text" autocomplete="off">
              </div>

              <div class="form-group form-group-year">
                <label class="form-label" for="pt-level2">Level 2</label>
                <input class="form-control" id="pt-level2" name="pt-level2" value="{{ data['pt-level2'] }}" type="text" autocomplete="off">
              </div>

              <div class="form-group form-group-year">
                <label class="form-label" for="pt-level3">Level 3</label>
                <input class="form-control" id="pt-level3" name="pt-level3" value="{{ data['pt-level3'] }}" type="text" autocomplete="off">
              </div>
            </div>

          </fieldset>
        </div>

        <div class="form-group form-group-related">
          <input type="submit" class="button" value="Save and continue">
        </div>

      </form>

      <p>
        or <a href="/admin/plan-types">cancel <span class="visuallyhidden">creating a new plan</span></a>
      </p>
  </div>
</div>
{% endblock %}
