{% extends "layout.html" %} {% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large mt-10 mb-15">
        Create a new plan type
      </h1>

      <p>This information will be used to organise the plan type. It won’t be shown to the user of the plan type.</p>

      <form action="/admin/plan-types/create/draft" method="get" class="form">

        <div class="form-group">
          <label class="form-label-bold" for="pt-name">Plan type name</label>
          <input class="form-control" id="pt-name" name="pt-name" value="{{ data['pt-name'] }}" type="text" autocomplete="off">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="pt-desc">Plan type description (optional)</label>
          <textarea class="form-control form-control-3-4" id="pt-desc" name="pt-desc" rows="5" autocomplete="off">{{ data['pt-desc'] }}</textarea>
        </div>

        <div class="form-group">
          <fieldset>

            <legend>
              <span class="form-label-bold">
                Hierarchy
              </span>
              <span class="form-hint" id="dob-hint">For example, a Universal Credit full service jobcentre implementation plan would be: UCFS WSD IMPL</span>
            </legend>

            <div class="form-date mt-15">
              <div class="form-group form-group-year">
                <label class="form-label" for="pt-level1">Level 1</label>
                <input class="form-control" id="pt-level1" name="pt-level1" value="{{ data['pt-level1'] }}" type="number" pattern="[0-9]*" min="0" max="31" autocomplete="off">
              </div>

              <div class="form-group form-group-year">
                <label class="form-label" for="pt-level2">Level 2</label>
                <input class="form-control" id="pt-level2" name="pt-level2" value="{{ data['pt-level2'] }}" type="number" pattern="[0-9]*" min="0" max="12" autocomplete="off">
              </div>

              <div class="form-group form-group-year">
                <label class="form-label" for="pt-level3">Level 3</label>
                <input class="form-control" id="pt-level3" name="pt-level3" value="{{pt-level3}}" type="number" pattern="[0-9]*" min="0" autocomplete="off">
              </div>
            </div>

          </fieldset>
        </div>

        <div class="form-group form-group-related">
          <input type="submit" class="button" value="Save and continue">
        </div>

      </form>

      <p>
        or <a href="javascript:history.back()">cancel <span class="visuallyhidden">creating a new plan type</span></a>
      </p>
  </div>
</div>
{% endblock %}
