{% extends "layout.html" %}
{% block adminnav %}{% endblock %}

{% block after_header %}
  <!-- <div class="previewback">
    <div class="preview_container">
      <div class="grid-row">
        <div class="column-full">
          You are previewing a to-do, <a href="/admin/plan-types/create/todo/stepped/confirm2">back to editing to-do</a>.
        </div>
      </div>
    </div>
  </div> -->
{% endblock %}


{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/plan-types">Templates</a></li>
    <li><a href="/admin">{{ data['pt-name'] if data['pt-name'] else "Example plan" }}</a></li>
    <li><a href="/admin" class="active">Preview</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Preview of plan using {{ data['pt-name'] if data['pt-name'] else "Example plan" }}
      <span class="heading-secondary">Going live: 27 June 2018</span>
    </h1>
  </div>
</div>
<div class="grid-row">
  <div class="column-full">
    <div class="admin-submenu">
      <ul>
        <li class="active"><a href="#0">Things you need to do</a></li>
        <li><a href="#0">Completed</a></li>
        <li><a href="#0">Progress summary</a></li>
        <li><a href="#0">Archived</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <p class="font-xsmall">Show: <span class="bold mr-10">All</span> <a href="#0" class="mr-10">People</a> <a href="#0" class="mr-10">Training</a> <a href="#0" class="mr-10">Partnerships</a> <a href="#0" class="mr-10">Access</a> <a href="#0" class="mr-10">Estates</a> <a href="#0" class="mr-10">Technology</a> <a href="#0" class="mr-10">Assurance</a></p>

    <h2 class="heading-large">
      Things you need to do now
    </h2>

    <ul class="todo">

      {% if data['todo-title-2'] %}
      <li>
        <a href="/admin/plan-types/create/preview-todo-2">
          <span class="heading">{{ data['todo-title-2'] }}</span>
          <span class="small">Complete by 27 March 2018<span class="no-wrap">0 of 3 tasks completed</span></span>
        </a>
      </li>
      {% endif %}
      {% if data['todo-title'] %}
      <li>
        <a href="/admin/plan-types/create/preview-todo">
          <span class="heading">{{ data['todo-title']}}</span>
          <span class="small">Complete by 27 February 2018<span class="no-wrap">0 of 3 tasks completed</span></span>
        </a>
      </li>
      {% endif %}

    </ul>


    <form action="/plansaved" method="post" class="form">

      <div class="form-group mt-30">
        <input type="submit" class="button" value="Publish template">
        <a href="/admin/plan-types/create/draft" class="button-link">Back to editing</a>
      </div>

    </form>

  </div>
</div>
{% endblock %}
