{% extends "layout.html" %}
{% block adminnav %}{% endblock %}
{% block body_classes %}preview-open{% endblock %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <ol>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/admin/plan-types">Templates</a></li>
      <li><a href="/admin">{{ data['pt-name'] if data['pt-name'] else "Example plan" }}</a></li>
      <li><a href="/admin/plan-types/create/preview">Preview</a></li>
      <li><a href="#0" class="active">{{ data['todo-title-2'] if data['todo-title-2'] else "To-do example" }} preview</a></li>
    </ol>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      {{ data['todo-title-2'] if data['todo-title-2'] else "Prototype example" }}
      <span class="heading-secondary">Complete by 27 March 2018</span>
    </h1>

    <ul>
    {% for i in data['todo-tags-2'] %}
      <li class="tag">{{ i }}</li>
    {% endfor %}
    </ul>

    <!-- <div class="releasenote">
      <h2 class="heading-medium mt-0">Instructions changed today</h2>
      {{ data['releaseRendered'] | safe }}
    </div> -->

    <p class="lede">{{ data['todo-main-lede-2'] }}</p>
    {{ data['todoRendered-2'] | safe }}

    <h2 class="heading-medium">
      Task list
    </h2>
    <div class="form-group">
      <div class="multiple-choice">
        <input id="Example" type="checkbox" name="example" value="{{ data['task-content-2'] }}" >
        <label for="Example">{{ data['taskRendered-2'] | safe }}</label>
      </div>
      {% if data['task2Rendered-2'] %}
      <div class="multiple-choice">
        <input id="Example2" type="checkbox" name="example2" value="{{ data['task-content-2-2'] }}" >
        <label for="Example2">{{ data['task2Rendered-2'] | safe }}</label>
      </div>
      {% endif %}
      {% if data['task-content-3-2'] %}
      <div class="multiple-choice">
        <input id="Example3" type="checkbox" name="example3" value="{{ data['task-content-3-2'] }}" >
        <label for="Example3">{{ data['task3Rendered-2'] | safe }}</label>
      </div>
      {% endif %}
    </div>

    <div class="form-group mt-30">
      <a href="/admin/plan-types/create/preview" class="button">Back to template preview</a>
    </div>


  </div>
  <div class="column-one-third">
    <aside class="govuk-related-items" role="complementary">
      <h2 class="heading-medium" id="subsection-title">Supporting content</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="font-xsmall">
          <li><a href="{{ data['link-url-2'] }}">{{ data['link-title-2'] }}</a></li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}
