{% extends "layout.html" %}
{% block header_links %}{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge mb-30">
        <span class="heading-secondary">Prepare for Universal Credit</span>
         Admin screen prototype <small class="font-medium">v5</small>
      </h1>
      <p>
        This prototype is to explore ideas for the admin area of Prepare for UC.
      </p>

      <h2 class="heading-small">Looking to resolve key issues from UR on 20 March</h2>
      <ul class="list list-bullet">
        <li>understanding the weeks on new template</li>
        <li>having to go backwards out of template to publish</li>
        <li>publishing template doesn&rsquo;t automatically update plans</li>
      </ul>

      <a class="button" href="/admin" role="button">View current version</a>





      <h2 class="heading-medium">
        Previous versions
      </h2>

      <div class="panel panel-border-wide">
        <p>
          A <a href="https://uccdf.herokuapp.com/">previous prototype</a> exists for the main project.
        </p>
      </div>

      <ul class="list list-bullet">
        <li><a href="https://pucadmin-v4.herokuapp.com/">Version 4</a>
          <ul class="list list-bullet">
            <li>exploring language and layout of the admin landing page</li>
          </ul>
        </li>
        <li><a href="https://pucadmin-v3.herokuapp.com/">Version 3</a>
          <ul class="list list-bullet">
            <li>plans view attempted to improve accessibility of tabs/layout</li>
            <li>change names back to Plans and Sites</li>
            <li>titles on sites to try and show assign</li>
          </ul>
        </li>
        <li><a href="https://pucadmin-v2.herokuapp.com/">Version 2</a>
          <ul class="list list-bullet">
            <li>navigation as tabs</li>
            <li>change names to Template and Plans</li>
            <li>improvements to flow and preview option</li>
            <li>an assign branching page pointing to new plan or update plan</li>
          </ul>
        </li>
        <li><a href="https://pucadmin-v1.herokuapp.com/">Version 1</a>
          <ul class="list list-bullet">
            <li>navigation under header</li>
            <li>change names to Plan and Sites</li>
            <li>add new plan as a flow</li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
