{% extends "layout.html" %}
{% block header_links %}{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge mb-30">
        <span class="heading-secondary">Prepare for Universal Credit</span>
         Admin screen prototype
      </h1>
      <p>
        This prototype is to explore ideas for the admin area of Prepare for UC.
      </p>
      <p>
        A <a href="https://uccdf.herokuapp.com/">previous prototype</a> exists for the main project.
      </p>

      <a class="button button-start" href="/user/plans" role="button">Start now</a>

    </div>
  </div>
{% endblock %}
