{% extends "layout.html" %}
{% set active = "sites" %}

{% block content %}
<div class="grid-row">
  <div class="column-full">
    {% if data['siteaddsuccess'] %}
    <div class="panel panel-border-wide alert-success">
      <p>The site &lsquo;{{ data['site-name'] }}&rsquo; was created</p>
    </div>
    {% endif %}
  </div>
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      <span class="heading-secondary">Admin:</span>
      Sites
    </h1>
    <div class="admin-submenu">
      <ul>
        <li><a href="/admin/plan-types"><span class="visuallyhidden">Manage </span>Plans</a></li>
        <li class="active"><a href="#0"><span class="visuallyhidden">Manage </span>Sites</a></li>
        <li><a href="/admin/users"><span class="visuallyhidden">Manage </span>Users</a></li>
      </ul>
    </div>


    <h2 class="heading-medium">Assign a plan to a site</h2>
    <ul class="list">
      <li><a href="/admin/sites/addsite">Add a new site</a></li>
      <li><a href="/admin/sites/upgrade">Update a site&rsquo;s plan </a></li>
    </ul>

    <h2 class="heading-medium">Manage a site&rsquo;s details</h2>
    <ul class="list">
      <li><a href="#0">Change a site&rsquo;s name</a></li>
      <li><a href="#0">Change a site&rsquo;s go-live date</a></li>
      <li><a href="#0">Remove a plan</a></li>
      <li><a href="#0">Restore a plan</a></li>
    </ul>

  </div>
</div>
{% endblock %}
