{% extends "layout.html" %}
{% set active = "sites" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin/sites">Sites</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Upgrade site to a newer version of a plan
    </h1>

    <form action="/admin/sites/upgrade-plans" method="get" class="form">

      <div class="form-group">
        <label class="form-label" for="select-box">Select the plan you want to upgrade from</label>
        <select class="form-control form-control-3-4" id="select-box" name="upgradefrom">
          <option>UC JC 50_50 Version 1 [version: 1]</option>
          <option>UC JC 50_50 Version 2 [version: 2]</option>
          <option>UC JC 50_50 Version 3 [version: 3]</option>
          <option>UC JC 50_50 Version 4 [version: 4]</option>
          <option>UC JC 50_50 Version 5 [version: 5]</option>
          <option>UC JC 50_50 Version 6 [version: 6]</option>
          <option>UC JC 50_50 Version 7 [version: 7]</option>
          <option>UC JC 50_50 Version 8 [version: 8]</option>
          <option>UC JC 50_50 Version 9 [version: 9]</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label" for="select-box2">Select the plan you want to upgrade to</label>
        <select class="form-control form-control-3-4" id="select-box2" name="upgradeto">
          <option>UC JC 50_50 Version 1 [version: 1]</option>
          <option>UC JC 50_50 Version 2 [version: 2]</option>
          <option>UC JC 50_50 Version 3 [version: 3]</option>
          <option>UC JC 50_50 Version 4 [version: 4]</option>
          <option>UC JC 50_50 Version 5 [version: 5]</option>
          <option>UC JC 50_50 Version 6 [version: 6]</option>
          <option>UC JC 50_50 Version 7 [version: 7]</option>
          <option>UC JC 50_50 Version 8 [version: 8]</option>
          <option>UC JC 50_50 Version 9 [version: 9]</option>
        </select>
      </div>

      <div class="form-group form-group-related">
        <input type="submit" class="button" value="Continue">
      </div>

    </form>

    <p>
      or <a href="javascript:history.back()">cancel</a>
    </p>
  </div>
</div>
{% endblock %}
