{% extends "layout.html" %}
{% set active = "sites" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/admin/sites">Sites</a></li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Update a site&rsquo;s plan
      <span class="heading-secondary">from {{ data['upgradefrom'] if data['upgradefrom'] else "UC JC 50_50 Version 8 [version: 8]" }} to {{ data['upgradeto'] if data['upgradeto'] else "UC JC 50_50 Version 9 [version: 9]" }}</span>
    </h1>

    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold mb-10">Sites to update</legend>

        <p><a href="#0">Select all</a></p>

          <div class="multiple-choice">
              <input data-ident="4" type="checkbox" name="plan_195973" value="Selected" id="plan_195973">
              <label for="plan_195973">Kennington Park, go live: 28 February 2018</label>
          </div>

          <div class="multiple-choice">
              <input data-ident="15" type="checkbox" name="plan_195975" value="Selected" id="plan_195975">
              <label for="plan_195975">Stockwell (February), go live: 28 February 2018</label>
          </div>

          <div class="multiple-choice">
              <input data-ident="14" type="checkbox" name="plan_195974" value="Selected" id="plan_195974">
              <label for="plan_195974">Streatham (February), go live: 28 February 2018</label>
          </div>

          <div class="multiple-choice">
              <input data-ident="0" type="checkbox" name="plan_178050" value="Selected" id="plan_178050">
              <label for="plan_178050">Erdington (February), go live: 14 February 2018</label>
          </div>

          <div class="multiple-choice">
              <input data-ident="7" type="checkbox" name="plan_178160" value="Selected" id="plan_178160">
              <label for="plan_178160">Handsworth (February), go live: 14 February 2018</label>
          </div>

          <div class="multiple-choice">
              <input data-ident="2" type="checkbox" name="plan_178270" value="Selected" id="plan_178270">
              <label for="plan_178270">Kings Heath (February), go live: 14 February 2018</label>
          </div>

          <div class="multiple-choice">
              <input data-ident="8" type="checkbox" name="plan_178380" value="Selected" id="plan_178380">
              <label for="plan_178380">Perry Barr (February), go live: 14 February 2018</label>
          </div>

          <div class="multiple-choice">
              <input data-ident="9" type="checkbox" name="plan_178490" value="Selected" id="plan_178490">
              <label for="plan_178490">Selly Oak (February), go live: 14 February 2018</label>
          </div>

      </fieldset>
    </div>

    <p>
      <a class="button" href="/admin/sites" role="button">Update selected sites</a>
    </p>

    <p>
      or <a href="/admin/sites">cancel</a>
    </p>
  </div>
</div>
{% endblock %}
